/*PRECARGADOR*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,0.2);*/
  background-color: rgba(200,194,194,0.2);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*PRECARGADOR*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer {
	padding-top: 0;
}


div.home .card {
    margin: 5px 0 0 0;
}

div.home .card .card-image {
    position: relative;
    height: 70px;
    overflow: hidden;
}

div.home .card .card-title {
    font-size: 12px;
    font-weight: 300;
}

div.home .card .card-content {
    padding: 0px 5px 0 5px;
    margin: 0;
    border-radius: 0 0 2px 2px;
}

.collection-item {
  display: block;
}

.card {
  margin: 5px 0 0 0;
}

.card .card-title {
  font-size: 12px;
  font-weight: 300;
}

.card .card-content {
  padding: 0px 5px 0 5px;
  margin: 0;
  border-radius: 0 0 2px 2px;
}

.card-reveal p {
  font-size: 12px;
}

.row {
	margin-bottom: 0px; 
}
.row .col {
	padding: 3px;
}

.collection {
    border: 0;
}

.collection .collection-item.avatar .title {
    font-size: 13px;
    padding-right: 20px
}

.collection .collection-item.avatar p {
    font-size: 12px;
    padding-right: 20px
}

input.input {
  height: 1.7em; 
  width: 20%
}

a.text-black {
   color: #000; 
   font-size: 12px;
}

.reset-marging {
   margin-top: 0;
}

.btn, .btn-large {
  letter-spacing: .5px;
}

.btn, .btn-large, .btn-flat {
  padding: 0 0.6rem;
  font-size: 12px;
}

input[type="text"] {
  font-size: 12px;
}

/* label focus color */
 .input-field input:focus + label {
   color: gray !important;
 }
 /* label underline focus color */
.row .input-field input:focus {
   border-bottom: 1px solid gray !important;
   box-shadow: 0 1px 0 0 gray !important
}

.select-wrapper input.select-dropdown {
  font-size: 12px;
}